.common-inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px; /* Adjust the gap between fields as needed */
  }
  
  .column {
    flex: 1; /* Adjust the width of columns */
    min-width: 200px; /* Minimum width of each column */
  }
  ::ng-deep .custom-dialog-container .mat-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 800px;
  }