@if(ShowEntryOfCapital){
<form [formGroup]="capitalForm" class="common-inputs-wrapper">
  <mat-card class="entry-card">
    <mat-card-title
      style="
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
      "
      >{{ companyType }}</mat-card-title
    >
    <div formArrayName="entries">
      <div
        *ngFor="let entry of entries.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="row" style="padding: 15px">
          <div class="col-md-8">
            <mat-form-field class="column" [appearance]="appearance()">
              <mat-label>Date of Resolution</mat-label>
              <input
                formControlName="dateOfResolution"
                matInput
                [matDatepicker]="picker"
                [max]="maxDate"
                [matDatepickerFilter]="dateFilter"
                (keydown)="allowManualInput($event)"
                [matDatepickerFilter]="dateFilter"
                (ngModelChange)="formatDate($event)"
                (input)="onDateInput($event)"
                placeholder="DD-MM-YYYY"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <button
                mat-icon-button
                matSuffix
                (click)="clearDateofIncorporation()"
                aria-label="Clear date"
              >
                <mat-icon>close</mat-icon>
              </button>
              <mat-error
                *ngIf="entry.get('dateOfResolution')?.hasError('required')"
                >Date of Resolution is required.</mat-error
              >
            </mat-form-field>
          </div>

          <div class="col-md-8">
            <mat-form-field class="column" [appearance]="appearance()">
              <mat-label>Type of Share</mat-label>
              <input matInput formControlName="typeOfShare" />
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="column" [appearance]="appearance()">
              <mat-label>Number of Shares</mat-label>
              <input
                matInput
                type="number"
                formControlName="numberOfShares"
                (ngModelChange)="calculateTotalAmount(entry.value, i)"
              />
              <mat-error
                *ngIf="entry.get('numberOfShares')?.hasError('required')"
                >Number of Shares is required.</mat-error
              >
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="column" [appearance]="appearance()">
              <mat-label>Nominal Value per Share</mat-label>
              <input
                matInput
                type="number"
                formControlName="nominalValue"
                (ngModelChange)="calculateTotalAmount(entry.value, i)"
              />
              <mat-error *ngIf="entry.get('nominalValue')?.hasError('required')"
                >Nominal Value is required.</mat-error
              >
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="column" [appearance]="appearance()">
              <mat-label>Total Amount</mat-label>
              <input
                matInput
                type="number"
                formControlName="totalAmount"
                readonly
              />
            </mat-form-field>
          </div>

          <div class="col-md-4 d-flex align-items-center">
            <button mat-icon-button color="primary" (click)="addRow()">
              <mat-icon>add</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              *ngIf="entries.length > 1"
              (click)="removeRow(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
      "
    >
      <button
        mat-raised-button
        color="primary"
        type="button"
        style="width: 150px"
        (click)="onSubmit()"
        [disabled]="!capitalForm.valid"
      >
        Submit
      </button>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="onReset()"
        style="width: 150px"
      >
        Cancel
      </button>
    </div>
    <div *ngIf="submitloading" class="loader-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </mat-card>

</form>
}
@if(dataSource.data.length>0){
<div>
  <h3 style="text-align: center; margin-bottom: 10px">As on 31st March 2025</h3>

<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 custom-table"
  >
    <ng-container matColumnDef="capitalType">
      <th mat-header-cell *matHeaderCellDef>Heads Of Capital</th>
      <td mat-cell *matCellDef="let element">{{ element.capitalType }}</td>
    </ng-container>
    <ng-container matColumnDef="DateOfResolution">
      <th mat-header-cell *matHeaderCellDef>Date Of Resolution</th>
      <td mat-cell *matCellDef="let element">
        {{ element.resolution_date | date : "dd-MM-yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="TypeOfShare">
      <th mat-header-cell *matHeaderCellDef>Type Of Share</th>
      <td mat-cell *matCellDef="let element">{{ element.share_type }}</td>
    </ng-container>

    <ng-container matColumnDef="NoOfShares">
      <th mat-header-cell *matHeaderCellDef>No Of Share's</th>
      <td mat-cell *matCellDef="let element">
        {{ element.number_of_shares }}
      </td>
    </ng-container>
    <ng-container matColumnDef="NominalValueOfPerShare">
      <th mat-header-cell *matHeaderCellDef>Nominal value Of Per Share</th>
      <td mat-cell *matCellDef="let element">
        {{ element.nominal_value_per_share | rupees }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">
        {{ element.total_amount | rupees }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns; let i = index"
      (click)="onRowClick(i, row)"
      (keydown)="handleKeyDown($event, row, i)"
      [class.selected]="selectedRowIndex === i"
      tabindex="0"
    ></tr>
  </table>
</div>
<div *ngIf="tableloading" class="loader-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>
</div>  
}
